<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nikesh.jobportal">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="JobPortal"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.ImageSliderActivity" />
        <activity android:name=".Activity.SplashActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>


        <activity android:name=".Activity.JobseekerOrJobprovider" />
        <activity android:name=".Activity.LoginForm" />
        <activity android:name=".Activity.ResetPasswordActivity" />
        <activity android:name=".Activity.RegisterForm" />
        <activity android:name=".Activity.CommentActivity"/>
        <activity android:name=".Activity.JobsActivity"/>
        <activity android:name=".Activity.SingleJobActivity"/>
        <activity android:name=".Activity.EditProfileActivity"/>
        <activity android:name=".Activity.MessageActivity"/>
        <activity android:name=".Activity.HireActivity"/>
        <activity android:name=".Activity.NotificationActivity"/>
        <activity android:name=".Activity.AddBidActivity"/>
        <activity android:name=".Activity.ProfileActivity" />
        <activity android:name=".Activity.SettingActivity"></activity>
    <activity android:name=".Activity.MainActivity"
        android:label="JobPortal"/>


    </application>

</manifest>